@font-face {
  font-family: "OCRB";
  src: url("../font/OCRB.ttf");
  src: url("../font/OCRB.ttf") format('truetype');
}

html, body {
  padding: 0;
  background-color: black;
  margin: 0;
  color: white;
  width: 100%;
  height: 100%;
  font-family: "OCRB";
}

.game {
  width: 100%;
  height: 100%;
}